body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
    font-size: 1.1em;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #4caf50;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a:hover {
    background-color: #4caf50;
    color: #fff;
}
